.titulo-productos{
    font-family: 'Lobster';
    color: #186006;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}

.container-card-products{
    margin-top: 50px;
    display: flex;
    margin-left: 50px;
}

.card-img-top{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 10px;
}


.cantidad{
    display: flex;
    width: 30px;
}

.valor{
    display: inline;
    width: 80px;
    text-align: center;
}

#disminuir, #aumentar{
    width: 50px;
}
.card-body{
    height: 155px;
    margin-top: 2px;
}

.carrito{
    margin-top: 20px;
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    display: block;
    align-items: center;
}
.container, .pages{
    justify-content: center;
    display: block;
}

thead, th{
    
    font-family: 'Lobster';
    color: #47a330;
    font-size: 23px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
   
}

.table-bordered{
    text-align: center;
    border-radius: 10px;
    border-bottom: 10px;
}

tr{
    background-color: #47a330;
    color: #804597;
    font-family: 'Lobster';
    font-size: 20px;
    font-weight: bold;
}

.admin-products{
    border: solid 2px black;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    background-color: #24ef43;
    margin-top: 50px;
}

#update-product-form, #create-product-form{
    width: 400px;
    font-family: 'Lobster';
    font-size: 20px;
    color: #186006;
    
}
.update-product, .create-product{
    justify-content: center;
    display: block;
    margin-left: 480px;
}